.sb {
  border: 1px solid black;
}

.underline {
  border-bottom: 5px solid #4d94e4;
  width: 70px;
}

.type-style {
  background-color: #d3d7e7;
  color: #575c6a;
  width: 80%;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
}

.info-text {
  font-size: 25px;
  line-height: 35px;
  letter-spacing: normal;
  font-weight: 400;
}

.apply-btn {
  border: 1px solid #4d94e4;
  border-radius: 25px;
  color: #4d94e4;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  font-weight: 700;
}

.apply-btn:hover {
  background-color: #4d94e4;
  color: white;
}

.detail-apply-btn {
  padding: 5px 70px 5px 70px !important;
  border: 1px solid #4d94e4;
  border-radius: 25px;

  text-decoration: none;
  font-weight: 700;
  background-color: #4d94e4;
  color: white;
}

.detail-apply-btn:hover {
  background-color: whitesmoke;
  color: #4d94e4;
}

.view-btn {
  font-weight: 700;
  color: #575c6a;
}

.search-style {
  width: 100%;
  font-size: 25px;

  line-height: 35px;
  border-radius: 5px;
  border: 1px solid grey;
}

.nav-style {
  background-color: #f4f4f4;
}
